html(lang="en")
    head
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Video
    body 
        main
            form#roomForm
                input#roomInput(type="text")
                input#roomSubmit(type="submit")
            div#videoDisplay
                h5
                video#myFace(autoplay, playsinline, width="400", height="300")
                video#peerFace(autoplay, playsinline, width="400", height="300")
            div#controls
                select#camList
                button#muteBtn Mute 
                button#cameraOff Camera Off

    script(src="/socket.io/socket.io.js")
    script(src="/static/js/app.js") 